# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
# pip install <> --log pip-log.txt
pip-log.txt

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/